### Library Imports

In [74]:
import pandas as pd
import numpy as np
import os

### Input File

In [75]:
input_file_path = "twitter_user_analytics_normalized.csv"
df_i = pd.read_csv(input_file_path)
df_i.head() # DEBUG

,user_count,userid,total_tweets_by_a_user,day_mon,day_tue,day_wed,day_thu,day_fri,day_sat,day_sun,time_night_1,time_night_2,time_morning_1,time_morning_2,time_afternoon_1,time_afternoon_2,time_evening_1,time_evening_2
0,0,0utoftime,1533,0.095238,0.114808,0.133725,0.151337,0.193738,0.152642,0.158513,0.290280,0.0,0.0,0.020222,0.131768,0.193738,0.184605,0.179387
1,1,1LX,3144,0.111641,0.125000,0.148219,0.157761,0.154262,0.171438,0.131679,0.256679,0.0,0.0,0.027036,0.093830,0.159669,0.199109,0.263677
2,2,4chewnahdoe,3172,0.127364,0.164880,0.141866,0.222888,0.126734,0.108764,0.107503,0.520492,0.0,0.0,0.004098,0.038462,0.171501,0.128310,0.137137
3,3,4sqOvershare,992,0.118952,0.107863,0.197581,0.177419,0.198589,0.133065,0.066532,0.180444,0.0,0.0,0.036290,0.225806,0.245968,0.179435,0.132056
4,4,909kishore,922,0.113883,0.164859,0.180043,0.191974,0.181128,0.098698,0.069414,0.305857,0.0,0.0,0.009761,0.073753,0.260304,0.203905,0.146421

#### Creating empty lists for the users

In [76]:
Mon = []
Tue = []
Wed = []
Thu = []
Fri = []
Sat = []
Sun = []
night_1 = []
night_2 = []
morning_1 = []
morning_2 = []
afternoon_1 = []
afternoon_2 = []
evening_1 = []
evening_2 = []

### Finding lists of users who tweet the most on certain day of the week <br>
We find the day on which a specific user tweets the most and then add that userid to the list of users who are most likely to be using Twitter on that day.<br>
### Finding lists of users who tweet the most on certain time of the day <br>
Similarly, we find the time window on which a specific user tweets the most and then add that userid to the list of users who are most likely to be using Twitter on that time window.

In [77]:
for idx, row in df_i.iterrows():
    userid = row['userid']
#     print(row) # DEBUG
    row.drop(['user_count', 'userid', 'total_tweets_by_a_user'], axis=0, inplace=True)
#     print(row) # DEBUG

    row = row.values
    row = row*100
    y_days = row[0:7]
    y_time = row[7:]
    max_used_day_idx  = y_days.argmax()
    max_used_time_idx = y_time.argmax()
#     print (y_days.max()) # DEBUG
#     print (max_used_day_idx) # DEBUG
#     print (y_time.max()) # DEBUG
#     print (max_used_time_idx)  # DEBUG
    
    if   max_used_day_idx == 0: Mon.append(userid)
    elif max_used_day_idx == 1: Tue.append(userid)
    elif max_used_day_idx == 2: Wed.append(userid)
    elif max_used_day_idx == 3: Thu.append(userid)
    elif max_used_day_idx == 4: Fri.append(userid)
    elif max_used_day_idx == 5: Sat.append(userid)
    elif max_used_day_idx == 6: Sun.append(userid)
        
    if   max_used_time_idx == 0: night_1.append(userid)
    elif max_used_time_idx == 1: night_2.append(userid)
    elif max_used_time_idx == 2: morning_1.append(userid)
    elif max_used_time_idx == 3: morning_2.append(userid)
    elif max_used_time_idx == 4: afternoon_1.append(userid)
    elif max_used_time_idx == 5: afternoon_2.append(userid)
    elif max_used_time_idx == 6: evening_1.append(userid)
    elif max_used_time_idx == 7: evening_2.append(userid)
    
#     if idx == 0: # DEBUG
#         break # DEBUG

# Output 7 csv files with most likely users of each day of the week

In [78]:
df_o = pd.DataFrame({'Mon_userid': Mon})
output_file_path = "users_with_max_tweet_on_Mon.csv"

# removing old outout file if exists
if os.path.exists(output_file_path): 
    os.remove(output_file_path)

# writing to csv
df_o.to_csv(output_file_path, sep=',', index=True, index_label="count")

In [79]:
df_o = pd.DataFrame({'Tue_userid': Tue})
output_file_path = "users_with_max_tweet_on_Tue.csv"

# removing old outout file if exists
if os.path.exists(output_file_path): 
    os.remove(output_file_path)

# writing to csv
df_o.to_csv(output_file_path, sep=',', index=True, index_label="count")

In [80]:
df_o = pd.DataFrame({'Wed_userid': Wed})
output_file_path = "users_with_max_tweet_on_Wed.csv"

# removing old outout file if exists
if os.path.exists(output_file_path): 
    os.remove(output_file_path)

# writing to csv
df_o.to_csv(output_file_path, sep=',', index=True, index_label="count")

In [81]:
df_o = pd.DataFrame({'Thu_userid': Thu})
output_file_path = "users_with_max_tweet_on_Thu.csv"

# removing old outout file if exists
if os.path.exists(output_file_path): 
    os.remove(output_file_path)

# writing to csv
df_o.to_csv(output_file_path, sep=',', index=True, index_label="count")

In [82]:
df_o = pd.DataFrame({'Fri_userid': Fri})
output_file_path = "users_with_max_tweet_on_Fri.csv"

# removing old outout file if exists
if os.path.exists(output_file_path): 
    os.remove(output_file_path)

# writing to csv
df_o.to_csv(output_file_path, sep=',', index=True, index_label="count")

In [83]:
df_o = pd.DataFrame({'Sat_userid': Sat})
output_file_path = "users_with_max_tweet_on_Sat.csv"

# removing old outout file if exists
if os.path.exists(output_file_path): 
    os.remove(output_file_path)

# writing to csv
df_o.to_csv(output_file_path, sep=',', index=True, index_label="count")

In [84]:
df_o = pd.DataFrame({'Sun_userid': Sun})
output_file_path = "users_with_max_tweet_on_Sun.csv"

# removing old outout file if exists
if os.path.exists(output_file_path): 
    os.remove(output_file_path)

# writing to csv
df_o.to_csv(output_file_path, sep=',', index=True, index_label="count")

# Outout 8 CSV files with most likely users of certain time window of the day

In [85]:
df_o = pd.DataFrame({'userid_0000_0259': night_1})
output_file_path = "users_with_max_tweet_between_0000_0259.csv"

# removing old outout file if exists
if os.path.exists(output_file_path): 
    os.remove(output_file_path)

# writing to csv
df_o.to_csv(output_file_path, sep=',', index=True, index_label="count")

In [86]:
df_o = pd.DataFrame({'userid_0300_0559': night_2})
output_file_path = "users_with_max_tweet_between_0300_0559.csv"

# removing old outout file if exists
if os.path.exists(output_file_path): 
    os.remove(output_file_path)

# writing to csv
df_o.to_csv(output_file_path, sep=',', index=True, index_label="count")

In [87]:
df_o = pd.DataFrame({'userid_0600_0859': morning_1})
output_file_path = "users_with_max_tweet_between_0600_0859.csv"

# removing old outout file if exists
if os.path.exists(output_file_path): 
    os.remove(output_file_path)

# writing to csv
df_o.to_csv(output_file_path, sep=',', index=True, index_label="count")

In [88]:
df_o = pd.DataFrame({'userid_0900_1159': morning_2})
output_file_path = "users_with_max_tweet_between_0900_1159.csv"

# removing old outout file if exists
if os.path.exists(output_file_path): 
    os.remove(output_file_path)

# writing to csv
df_o.to_csv(output_file_path, sep=',', index=True, index_label="count")

In [89]:
df_o = pd.DataFrame({'userid_1200_1459': afternoon_1})
output_file_path = "users_with_max_tweet_between_1200_1459.csv"

# removing old outout file if exists
if os.path.exists(output_file_path): 
    os.remove(output_file_path)

# writing to csv
df_o.to_csv(output_file_path, sep=',', index=True, index_label="count")

In [90]:
df_o = pd.DataFrame({'userid_1500_1759': afternoon_2})
output_file_path = "users_with_max_tweet_between_1500_1759.csv"

# removing old outout file if exists
if os.path.exists(output_file_path): 
    os.remove(output_file_path)

# writing to csv
df_o.to_csv(output_file_path, sep=',', index=True, index_label="count")

In [91]:
df_o = pd.DataFrame({'userid_1800_2059': evening_1})
output_file_path = "users_with_max_tweet_between_1800_2059.csv"

# removing old outout file if exists
if os.path.exists(output_file_path): 
    os.remove(output_file_path)

# writing to csv
df_o.to_csv(output_file_path, sep=',', index=True, index_label="count")

In [92]:
df_o = pd.DataFrame({'userid_2100_2359': evening_2})
output_file_path = "users_with_max_tweet_between_2100_2359.csv"

# removing old outout file if exists
if os.path.exists(output_file_path): 
    os.remove(output_file_path)

# writing to csv
df_o.to_csv(output_file_path, sep=',', index=True, index_label="count")