# Step 2 
#### time when users are likely to be on Twitter portal

### Library Imports

In [63]:
import pandas as pd
import time

### Input File

In [64]:
input_file_path = "twitter_data.csv"
df_i = pd.read_csv(input_file_path)
df_i.head()

,tweetcount_by_all_users,userid,total_tweets_by_a_user,tweetid,day_of_week,month,day,hour,minute,second,time_correction,year,tweet
0,0,0utoftime,1533,669678001865510912,Thu,Nov,26,0,44,12,0,2015,@danielhberger or john oliver now that obama h...
1,1,0utoftime,1533,669677485240541184,Thu,Nov,26,0,42,9,0,2015,@wiz_teresa international phonetic alphabet
2,2,0utoftime,1533,669224460260651008,Tue,Nov,24,18,41,59,0,2015,@dumbnamenumbers @wiz_teresa don’t you just ma...
3,3,0utoftime,1533,668476559062364160,Sun,Nov,22,17,10,6,0,2015,RT @confreaks: New Video! @RubyConf #rubyconf ...
4,4,0utoftime,1533,667735237498183680,Fri,Nov,20,16,4,21,0,2015,@wiz_teresa http://pbs.twimg.com/media/CURFqBQ...

In [65]:
# print (df['userid'].count) # DEBUG

In [66]:
# df_i.dtypes

#### drop unnecessary columns for this analysis

In [67]:
df_i.drop(['tweetid', 'month', 'day', 'minute', 'second', 'time_correction', 'year', 'tweet'], axis=1, inplace=True)
df_i.head()

,tweetcount_by_all_users,userid,total_tweets_by_a_user,day_of_week,hour
0,0,0utoftime,1533,Thu,0
1,1,0utoftime,1533,Thu,0
2,2,0utoftime,1533,Tue,18
3,3,0utoftime,1533,Sun,17
4,4,0utoftime,1533,Fri,16

### Finiding Unique userids and creating a new output dataframe

In [68]:
unique_users = df_i['userid'].unique()
# print(len(unique_users)) # DEBUG
print(df_i.columns) # DEBUG
df_i.head() # DEBUG

Index(['tweetcount_by_all_users', 'userid', 'total_tweets_by_a_user',
       'day_of_week', 'hour'],
      dtype='object')

,tweetcount_by_all_users,userid,total_tweets_by_a_user,day_of_week,hour
0,0,0utoftime,1533,Thu,0
1,1,0utoftime,1533,Thu,0
2,2,0utoftime,1533,Tue,18
3,3,0utoftime,1533,Sun,17
4,4,0utoftime,1533,Fri,16

In [69]:
df_o = pd.DataFrame(unique_users, columns=['userid'])
df_o.head() # DEBUG

         userid
0     0utoftime
1           1LX
2   4chewnahdoe
3  4sqOvershare
4    909kishore

In [70]:
# df_o.size # DEBUG

#### creating 7 bins for time of use
night           = 00:00 - 05:59<br>
morning_early   = 06:00 - 08:59<br>
morning_late    = 09:00 - 11:59<br>
afternoon_early = 12:00 - 14:59<br>
afternoon_late  = 15:00 - 17:59<br>
evening_early   = 18:00 - 20:59<br>
evening_late    = 21:00 - 23:59

#### creating another 7 bins for day of the week
Mon, Tue, Wed, Thu, Fri, Sat, Sun

In [71]:
df_o['total_tweets_by_a_user']=0
df_o['day_mon']=0
df_o['day_tue']=0
df_o['day_wed']=0
df_o['day_thu']=0
df_o['day_fri']=0
df_o['day_sat']=0
df_o['day_sun']=0
df_o['time_night']=0
df_o['time_morning_early']=0
df_o['time_morning_late']=0
df_o['time_afternoon_early']=0
df_o['time_afternoon_late']=0
df_o['time_evening_early']=0
df_o['time_evening_late']=0

# df_o.head() # DEBUG
# df_o.dtypes

In [ ]:
start = time.time()

# idx_o = 1
# row_o = (df_o.loc(1,axis=1))
# print(idx_o)
# print(row_o['userid'])

# idx_o, row_o = next(df_o.iterrows())
# print(idx_o)
# print(row_o)

# print(idx_o)
# print(row_o)
for idx_o, row_o in df_o.iterrows():
    for idx_i, row_i in df_i.iterrows():
        # as all the tweets from a single user are all together in the input csv data
        # we can break out of the 2nd for loop to make the program efficient without loosing data
        if row_o['userid'] == row_i['userid']:

            df_o.loc[idx_o, 'total_tweets_by_a_user'] = row_i['total_tweets_by_a_user'] 

            if   row_i['day_of_week'].upper() == 'MON': df_o.loc[idx_o, 'day_mon'] += 1
            elif row_i['day_of_week'].upper() == 'TUE': df_o.loc[idx_o, 'day_tue'] += 1
            elif row_i['day_of_week'].upper() == 'WED': df_o.loc[idx_o, 'day_wed'] += 1
            elif row_i['day_of_week'].upper() == 'THU': df_o.loc[idx_o, 'day_thu'] += 1
            elif row_i['day_of_week'].upper() == 'FRI': df_o.loc[idx_o, 'day_fri'] += 1
            elif row_i['day_of_week'].upper() == 'SAT': df_o.loc[idx_o, 'day_sat'] += 1
            elif row_i['day_of_week'].upper() == 'SUN': df_o.loc[idx_o, 'day_sun'] += 1

            if   row_i['hour'] >= 0 and row_i['hour'] <  6 : df_o.loc[idx_o, 'time_night'] += 1
            elif row_i['hour'] >= 6 and row_i['hour'] <  9 : df_o.loc[idx_o, 'time_morning_early'] += 1
            elif row_i['hour'] >= 9 and row_i['hour'] < 12 : df_o.loc[idx_o, 'time_morning_late'] += 1
            elif row_i['hour'] >=12 and row_i['hour'] < 15 : df_o.loc[idx_o, 'time_afternoon_early'] += 1
            elif row_i['hour'] >=15 and row_i['hour'] < 18 : df_o.loc[idx_o, 'time_afternoon_late'] += 1
            elif row_i['hour'] >=18 and row_i['hour'] < 21 : df_o.loc[idx_o, 'time_evening_early'] += 1
            elif row_i['hour'] >=21 and row_i['hour'] < 24 : df_o.loc[idx_o, 'time_evening_late'] += 1
            else: print ('Time format error: ',row_i['hour'])    

                
end = time.time()
elapsed = end - start
print(elapsed)

In [ ]:
df_o.head(5)

In [ ]:
start = time.time()

for idx_o, row_o in df_o.iterrows():
    x = row_o['total_tweets_by_a_user']
    
    df_o.loc[idx_o, 'day_mon'] /= x
    df_o.loc[idx_o, 'day_tue'] /= x
    df_o.loc[idx_o, 'day_wed'] /= x
    df_o.loc[idx_o, 'day_thu'] /= x
    df_o.loc[idx_o, 'day_fri'] /= x
    df_o.loc[idx_o, 'day_sat'] /= x
    df_o.loc[idx_o, 'day_sun'] /= x

    df_o.loc[idx_o, 'time_night'] /= x
    df_o.loc[idx_o, 'time_morning_early'] /= x
    df_o.loc[idx_o, 'time_morning_late'] /= x
    df_o.loc[idx_o, 'time_afternoon_early'] /= x
    df_o.loc[idx_o, 'time_afternoon_late'] /= x
    df_o.loc[idx_o, 'time_evening_early'] /= x
    df_o.loc[idx_o, 'time_evening_late'] /= x
                
end = time.time()
elapsed = end - start
print(elapsed)

In [ ]:
df_o.head(5)

## Output to CSV

In [ ]:
output_file_path = "twitter_user_analytics.csv"

# removing old outout file if exists
if os.path.exists(output_file_path):
    os.remove(output_file_path)

# writing to csv
df_o.to_csv(output_file_path, sep=',', index=True, index_label='user_count')